.container{
    padding: 20px;
}
.header{
    padding: 10px 0;
}
.close{
    color:red;
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.inputCep{
    width: 20%;
}
.inputStreet{
    width: 90%;
}
.inputNumber{ 
    width: 10%;
}
.inputNeighborhood{
    width: 50%;
}
.inputCity{
    width: 50%;
}
