.container{
    padding: 20px;
    max-width: 800px;
    margin: 100px auto;
    background-color: var(--background-gray-ligther);

}
.header{
    padding: 10px 0;
}
.ButtonModal{
    margin: 10px 0;
}

.inputCep{
    width: 20%;
}
.inputStreet{
    width: 90%;
}
.inputNumber{ 
    width: 10%;
}
.inputNeighborhood{
    width: 50%;
}
.inputCity{
    width: 50%;
}
  