
.container{
    width: 50%;
    margin-top: 100px ;
}
.input{
    width: 30%;
}

@media (max-width: 576px) { 
    
.container{
    margin-top: 150px ;
}
    .input{
        width: 100%;
    }
  
}
@media (max-width: 768px) { 
    .container{
        margin-top: 150px ;
    }
    .input{
        width: 100%;
    }
}